/* Navbar.module.css */
.Navbar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* 링크 되었을때 */
.link{
    /*링크에 적용*/
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s;
}

.link:hover{
    color: orange;    
}

/* 활성화 되었을 때 사용 */
.active {
    color: dodgerblue;
    font-weight: bold;
}