/* board.module.css */
.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
}

.boardTable {
    width: 100%;
    border-collapse:collapse ;
    box-sizing: border-box;
}

.boardTable th {
    border: 1px solid #ddd;
}

.boardTable td {
    border: 1px solid #ddd;
    display: flexbox;
}

.boardTable > input {
    border: 1px solid #ddd;
    width: 1200px;
    display: -ms-flexbox;
}

.boardTable textarea {
    border: 1px solid #ddd;
    width: 100%;
}

.boardTable thead {
    background-color: lightblue;
    width: auto;
}

.titleLink {
    text-decoration: none;
    color: black;
}

.titleLink:hover {
    text-decoration: underline;
    color: dodgerblue;
}

/* 버튼 통일 스타일 */
.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

.button:hover {
    background-color: deepskyblue;
}